<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BioTMPy</title>
	<link rel="icon" href="data:,">
	<script src="../static/jquery.min.js"></script>
	<script src="../static/conditional.js"></script>	
	<link rel="stylesheet" type="text/css" href="../static/styles.css" media="screen"/>
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			BioTMPy <br/>
			<span class="otsize">Rank your PPI Documents using a Deep Learning Model</span>
		</div>
	</div>
	</header> <br/>


	<div class="bootstrap-iso">
		<form id="live_form" action="/predict" method="POST" enctype="multipart/form-data">
			<div class="form-group">
			<label for="email">Enter your email:</label>
			<input type="email" id="email" name="email" size='50' required placeholder="example@email.com">	<br/><br/>
			<label class="control-label ">
			Select the input type of your documents:
			</label>

			<div class="radio">
			<label class="radio">
				<input name="docs" type="radio" value="pmids"/>
				PubMed IDs
			</label>
			</div>
			<div class="radio">
			<label class="radio">
				<input name="docs" type="radio" value="term"/>
				Search Term
			</label>
			</div>
			
			<div class="radio">
			<label class="radio">
				<input name="docs" type="radio" value="pdfs"/>
				PDF Documents
			</label>
			</div>
			</div>

			<div class="form-group hidden">
			<label class="control-label" for="pmids_box">
			Enter the PubMed IDs of your documents:
			</label>
			<textarea class="form-control" rows="13" cols="13" placeholder="9685346&#10;21423216&#10;10364224&#10;10688642&#10;15294869" id="pmids_box" name="pmids_box"></textarea>
			</div>

			<div class="form-group hidden">
			<label class="control-label" for="term_box">
			Enter the Search Term:
			</label>
			<textarea class="form-control" rows = '1' cols = '100' id="term_box" name="term_box" placeholder="protein-protein interactions altered by mutations"></textarea><br>
			<label class="control-label" for="term_box2">
			Maximum number of documents to retrieve:
			</label>
			<textarea class="form-control" rows = '1'  cols = '3' id="term_box2" name="term_box2" placeholder="20"></textarea>
			</div>

			<div class="form-group hidden" >
			<input type='file' class="form-control-file" id="pdfs_box" name="pdfs_box" accept=".pdf" multiple>
			</div>

			<div class="form-group">
			<input class="btn btn-primary" name="submit" type="submit" value='Predict'>
			</div>


		</form>																
	</div>



</body>
</html>
